<!doctype html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center}
            p{font-size: 16px; text-align: center}
            h2{font-size: 30px; text-align: center}
            li{font-size: 16px; text-align: center; list-style: none}
        </style>
    </head>
    <body>
        <%include partial/nav.ejs%>
        <h1>Welcome to the Profile of <%= person %></h1>
        <p><strong>Age: <%= data.age %></strong>></p>
        <p><strong>Job: <%= data.job %></strong>></p>
        <h2>Hobbies</h2>
        <!-- You only need <% %> these tags for js, you need the = to pass data-->
        <ul>
            <% data.hobbies.forEach(function(item) { %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </body>
</html>